doctype
html(ng-app="app")
  head
    base(href="/")
    link(rel="stylesheet", href="/vendor/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
  body(ng-controller="mainController")
  block main-content
  include scripts