script(type="text/javascript", src="/vendor/angular.js")
script(type="text/javascript", src="/vendor/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route.js")
script(type="text/javascript", src="/core.js")