script(type="text/javacript", src="/vendor/angular.js")
script(type="text/javacript", src="/vendor/angular-resource.js")
script(type="text/javacript", src="/vendor/angular-route.js")
script(type="text/javacript", src="/core.js")